# Byte-compiled / cached
__pycache__/

# Virtual environment
venv/

# Logs and databases
*.log
*.sqlite3
*.db

# Environment variables and secrets
.env
*.key
*.pem

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# MacOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db
